table{
    position: absolute;
    z-index: var(--z-fixed);
    transition: .4s;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, 3);
    background: #fafafa;
    text-align: center;
}
td, th{
    padding: 12px 15px;
}
th{
    background:#6af58f ;
    color: #000;
    text-transform: uppercase;
}
tr:nth-child(odd){
    background-color: #eee;
}

